<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceLabsCrossBrowserSuite" parallel="tests" thread-count="3">

    <!-- LoginTest -->
    <test name="ChromeLoginTest">
        <parameter name="browsername" value="chrome" />
        <parameter name="version" value="latest" />
        <parameter name="platform" value="Windows 11" />
        <classes>
            <class name="tests.LoginTest" />
        </classes>
    </test>

    <!-- RegisterTest -->
    <test name="FirefoxRegisterTest">
        <parameter name="browsername" value="firefox" />
        <parameter name="version" value="latest" />
        <parameter name="platform" value="Windows 11" />
        <classes>
            <class name="tests.RegisterTest" />
        </classes>
    </test>

    <!-- ForgotPasswordTest -->
    <test name="EdgeForgotPasswordTest">
        <parameter name="browsername" value="edge" />
        <parameter name="version" value="latest" />
        <parameter name="platform" value="Windows 11" />
        <classes>
            <class name="tests.ForgotPasswordTest" />
        </classes>
    </test>

    <!-- ForgotLoginTest -->
    <test name="ChromeForgotLoginTest">
        <parameter name="browsername" value="chrome" />
        <parameter name="version" value="latest" />
        <parameter name="platform" value="Windows 11" />
        <classes>
            <class name="tests.ForgotLoginTest" />
        </classes>
    </test>

</suite>
